/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0e6f6; /* Soft purple background */
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.container {
    max-width: 90%;
}

h1 {
    font-size: 2em;
    color: #5d3a8e; /* Darker purple for text */
    margin-bottom: 1em;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.response-button {
    font-size: 1.2em;
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    color: white;
    background-color: #9c77b9; /* Light purple */
}

#noButton:hover, #noButton:focus {
    background-color: #b492c0; /* Slightly lighter purple */
}

#yesButton {
    background-color: #7e4bab; /* Slightly darker purple */
}

.hidden {
    display: none;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
    .response-button {
        font-size: 1em;
        padding: 0.5em 1em;
    }

    h1 {
        font-size: 1.5em;
    }
}
